{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
    {% include "navbar.html" with is_shop=True %}
{% endblock %}

{% block maincontainer %}


<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>{{ product.name }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
<div class="zigzag-bottom"></div>
<div class="container">
</div>

<div class="col-md-8">
    <div class="product-content-right">
        <div class="product-breadcroumb">
            <a href="">Home</a>
            <a href="">{{ product.category }}</a>
            <a href="">{{ product.name }}</a>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="product-images">
            <div class="product-main-img">
                <img src="{{ product.image.url }}" alt="">
            </div>

            <div class="product-gallery">
                <img src="{{ product.image_thmb.url }}" alt="">
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="product-inner">
            <h2 class="product-name">{{ product.name }}</h2>
            <div class="product-inner-price">
                <ins>${{ product.sell_price }}</ins> <del>${{ product.price }}</del>
            </div>

            <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Add to cart">
            </form>

            <div class="product-inner-category">
                <p>Category: <a href="">{{ product.category }}</a>. Tags: <a href="">awesome</a>, <a href="">best</a>, <a href="">sale</a>, <a href="">shoes</a>. </p>
            </div>

            <div role="tabpanel">
                <ul class="product-tab" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                        <h2>{{ product.description }}</h2>


                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile">
                        <h2>Reviews</h2>
                        <div class="submit-review">
                            <p><label for="name">Name</label> <input name="name" type="text"></p>
                            <p><label for="email">Email</label> <input name="email" type="email"></p>
                            <div class="rating-chooser">
                                <p>Your rating</p>

                                <div class="rating-wrap-post">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                            <p><input value="Submit" type="submit"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{#     Related Products                   #}


                    </div>
                </div>
            </div>


{% endblock %}